<h2><%= t('user_mailer.new_registration.subject') %></h2>
<p><%= t('user_mailer.new_registration.registration_success') %></p>
<%= link_to t('links.main'), Rails.application.credentials.dig(:host, :link) %>
