<% if resource.errors.any? %>
  <p>You are here</p>
  <div class="alert alert-danger alert-dismissible fade show fw-bold" role="alert">
    <% errors_amount = resource.errors.count %>
    В вашей форме <%= errors_amount %> <%= inclination(errors_amount, "ошибка", "ошибки", "ошибок") %>

    <ul class="mt-2">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
