<% errors = model.errors %>

<% if errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <div class="lead buffer-bottom">
      <% errors_amount = errors.count %>
      В вашей форме <%= errors_amount %> <%= inclination(errors_amount, "ошибка", "ошибки", "ошибок") %>
    </div>

    <ul>
      <% errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
