<span>
  <%= image_tag(user_avatar_thumb(user), alt: t("images.alt.user_avatar"), style: 'width:30px; height:30px;',
          class: "rounded me-2") %>
  <span>
    <% if request.path == user_path(user) %>
      <%= user.name %>
    <% else %>
      <%= link_to user.name, user_path(user), class:"text-decoration-none" %>
    <% end %>
  </span>
</span>
