<h1 class="mt-4"><% I18n.t("views.user.edit") %></h1>

<div class="row">
  <div class="col-md-6">
    <%= render 'form' %>
  </div>
</div>

<p class="mt-3">
  <%= link_to I18n.t("devise.passwords.change_password"), edit_user_registration_path %>
</p>
